{% extends "base.njk" %}
{% block content %}
<ul>
  {% for categoria in menu %}
    <li>
      <h2>{{ categoria.nombre }}</h2>
      <ul>
        {% for plato in categoria.platos %}
          <li>{{ plato.nombre }} - {{ plato.precio }} €</li>
        {% endfor %}
      </ul>
    </li>
  {% endfor %}
</ul>
{% endblock %}


